.contenedor_titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

h1{
    font-family: 'DancingScript-Regular';
    color: beige;
    font-size: 40px;
}

.contenedor_reparto{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.contenedor_reparto_linea{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contenedor_reparto_ind{
    width: 250px;
    height: 300px;
    background-color: #BFB304;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.nombres_reparto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombres_reparto_actor{
    font-family: 'DancingScript-Regular';
    font-size: 22px;
    color: beige;
    margin-bottom: 0;
}

.nombres_reparto_personaje{
    font-family: 'VCR_OSD';
    font-size: 18px;
    color: #d90d1ed8;
    margin-top: 0;
}

.foto_reparto>img{
    width: 150px;
    border-radius: 50%;
}

.contenedor_informacion_personajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 800px;
    background-color: #213D40;
    border-radius: 30px;
    margin-bottom: 40px;
}

.contenedor_informacion_personajes>h2{
    font-family: 'DancingScript-Regular';
    color: beige;
    font-size: 40px;
    justify-self: center;
}

.contenedor_informacion_personajes>h3{
    font-family: 'DancingScript-Regular';
    color: darkgoldenrod;
    font-size: 18px;
}

.contenedor_informacion_personajes>p{
    font-family: 'VCR_OSD';
    font-size: 18px;
    color: beige;
    margin-inline: 30px;
    text-align: center;
}


@media screen and (max-width: 900px) {
    
    .contenedor_reparto_linea{
        justify-content: center;
    }
    .contenedor_reparto_ind{
        margin-inline: 5px;
    }
}


@media screen and (max-width: 768px) {

    h1{
        margin-top: 0;
    }

    .contenedor_titulo{
        height: 100px;
    }

    .contenedor_reparto_linea{
        flex-direction: column;
        align-items: center;
    }

    .contenedor_informacion_personajes{
        width: 100vw;
    }

    .contenedor_informacion_personajes>h2{
        font-size: 50px;
    }

    .contenedor_informacion_personajes>h3{
        font-size: 32px;
    }

    .contenedor_informacion_personajes>p{
        font-size: 26px;
    }
}
