h1{
    font-family: 'DancingScript-Regular';
    color: beige;
    font-size: 40px;
    justify-self: center;
    margin-top: 50px;
}

.sub_secciones_informativas_der>ul>li{
    font-family: 'VCR_OSD';
}

.contenedor_padre_secciones{
    margin-bottom: 50px;
}

.contenedor_audio{
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    background-color: #213D40;
    padding: 40px 100px;
    border-radius: 20px;
}

.contenedor_audio > h2{
    display: flex;
    justify-content: center;
    color: #BFB304;
    font-size: 30px;
    font-family: 'DancingScript-Regular';
}


@media screen and (max-width: 768px) {

    h1{
        margin-top: 0;
    }
}
